.container{
    margin-bottom: 100px;
}
.pink-bg{
    background-color: #fceae8;
    border-radius: 20px;
}
.light-pink{
    background-color:burlywood;
    border-radius: 15px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #ff136f;
}
.buy-now-button{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 5px 20px;
    border-radius: 30px;
}
.cat1{
    background-color: orangered;
}
.cat2{
    background-color: peru;
}
.cat3{
    background-color: royalblue;
}
.catagory h1{
    color: white;
}
.card{
    border: none;
    box-shadow: 5px 10px 5px burlywood;
    border-radius: 20px;
}
.cardb{
    border: none;
    box-shadow: 5px 10px 5px lightcoral;
    border-radius: 20px;
}
.contact{
    height: 300px;
}
footer{
    text-align: center;
}